* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./IMAGENS/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

heaeder {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
}

.link-heaeder {
    margin-right: 32px;
    font-size: 25px;
    font-weight: 400;
    color: #999999bb;
    cursor: pointer;

}

button {
    background-color: #c2a25c;
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    font-weight: 700;
    margin-left: 64px;
    margin-right: 32px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    display: block;
    margin-left: 70%;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    max-width: 520px;
}

div {
    display: inline-block;
    margin-left: 600px;
    margin-top: 100px;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: #000000;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    width: 394px;
}